<p *ngIf="value1">Example OF NGIF directive which is based on the if elase condition. Directives must start with the *</p>
<p *ngIf="value2">Example OF NGIF directive which is based on the if elase condition. Directives must start with the *</p>
<!-- above does not print because the value2 is false -->
<!-- ngFor which shows array of values which can be represents in tags-->
<tr *ngFor="let a of array">
  {{a}}&nbsp;
</tr>
<!-- Strutural directives are the NgIf,NgFor,NgSwitch -->
<!-- Attribute directives are Ngstyle,NgClass,NgModel -->
<!-- these attribute directives are for the just css and html manipulations -->
<div [ngStyle]="{'background-color': 'red'} ">this is ngstyle directive</div>
<!-- ng class directive  one or more css classes to the html element-->
<div [ngClass]="'first'">ngClass as a String</div>
<!-- the ngmodel is binds the value of the html controls like the normal input selctor textarea -->
<!-- to have the ngmodel we need the forms module -->
<!-- it is look like the data binding as u mention above in input it will reflect mostly for forms we use this ngmodel -->

<input [(ngModel)]="CopyText">
<br>
<input type="text " value="{{CopyText}}">
<router-outlet></router-outlet>
